<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/agi_sm.gif">
         <run
               class="main.MainApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="main.Perspective"
            id="CustomApp_SWT_STK_X_Eclipse_RCP.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="CustomApp_SWT_STK_X_Eclipse_RCP.application"
            name="CustomApp_SWT_STK_X_Eclipse_RCP Application">
         <property
               name="appName"
               value="CustomApp_SWT_STK_X_Eclipse_RCP Application">
         </property>
         <property
               name="windowImages"
               value="icons/agi_sm.gif,icons/agi.gif,icons/agi.gif,icons/agi.gif,icons/agi.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="CustomApp_SWT_STK_X_Eclipse_RCP"
            name="CustomApp_SWT_STK_X_Eclipse_RCP Category">
      </category>
      <view
            allowMultiple="true"
            category="CustomApp_SWT_STK_X_Eclipse_RCP"
            class="main.GlobeView"
            icon="icons/agi_sm.gif"
            id="main.GlobeView"
            name="Globe View">
      </view>
      <view
            allowMultiple="true"
            category="CustomApp_SWT_STK_X_Eclipse_RCP"
            class="main.MapView"
            icon="icons/agi_sm.gif"
            id="main.MapView"
            name="Map View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="main.ScenarioHandler"
            id="newScenario.command"
            name="New">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="openScenario.command"
            name="Open">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="closeScenario.command"
            name="Close">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="playScenario.command"
            name="Play">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="resetScenario.commmand"
            name="Reset">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="pauseScenario.command"
            name="Pause">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="speedupScenario.command"
            name="SpeedUp">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="speeddownScenario.command"
            name="SpeedDown">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="rewindScenario.command"
            name="Rewind">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="stepforwardScenario.command"
            name="StepForward">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="stepbackwardsScenario.command"
            name="StepBackwards">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="about.command"
            name="about">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="directions.command"
            name="Directions">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="installInfo.command"
            name="InstallInfo">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="startObjectEdit.command"
            name="StartObjectEdit">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="cancelObjectEdit.command"
            name="CancelObjectEdit">
      </command>
      <command
            defaultHandler="main.ScenarioHandler"
            id="acceptObjectEdit.command"
            name="AcceptObjectEdit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="newScenario.command"
                  icon="icons/NewScenario.bmp"
                  label="New Scenario"
                  style="push">
            </command>
            <command
                  commandId="openScenario.command"
                  icon="icons/OpenScenario.bmp"
                  label="Open Scenario"
                  style="push">
            </command>
            <command
                  commandId="closeScenario.command"
                  label="Close Scenario"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpMenu"
               label="Help">
            <command
                  commandId="about.command"
                  label="About"
                  style="push">
            </command>
            <command
                  commandId="directions.command"
                  label="Directions"
                  style="push">
            </command>
            <command
                  commandId="installInfo.command"
                  label="Install Info"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="CustomApp_SWT_STK_X_Eclipse_RCP.scenarioToolbar">
            <command
                  commandId="newScenario.command"
                  icon="icons/NewScenario.bmp"
                  style="push">
            </command>
            <command
                  commandId="openScenario.command"
                  icon="icons/OpenScenario.bmp"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="CustomApp_SWT_STK_X_Eclipse_RCP.animationToolbar">
            <command
                  commandId="resetScenario.commmand"
                  icon="icons/rewind.gif"
                  style="push"
                  tooltip="Reset">
            </command>
            <command
                  commandId="stepbackwardsScenario.command"
                  icon="icons/stepbackward.gif"
                  style="push"
                  tooltip="Step in Reverse">
            </command>
            <command
                  commandId="rewindScenario.command"
                  icon="icons/playbackward.gif"
                  style="push"
                  tooltip="Reverse">
            </command>
            <command
                  commandId="pauseScenario.command"
                  icon="icons/pause.gif"
                  style="push"
                  tooltip="Pause">
            </command>
            <command
                  commandId="playScenario.command"
                  icon="icons/playforward.gif"
                  style="push"
                  tooltip="Start">
            </command>
            <command
                  commandId="stepforwardScenario.command"
                  icon="icons/stepforward.gif"
                  style="push"
                  tooltip="Step Forward">
            </command>
            <command
                  commandId="speeddownScenario.command"
                  icon="icons/slower.gif"
                  style="push"
                  tooltip="Decrease Time Step">
            </command>
            <command
                  commandId="speedupScenario.command"
                  icon="icons/faster.gif"
                  style="push"
                  tooltip="Increase Time Step">
            </command>
         </toolbar>
         <toolbar
               id="CustomApp_SWT_STK_X_Eclipse_RCP.objectEditToolbar">
            <command
                  commandId="startObjectEdit.command"
                  icon="icons/editStart.bmp"
                  style="push"
                  tooltip="Start Object Edit">
            </command>
            <command
                  commandId="acceptObjectEdit.command"
                  icon="icons/editApply.bmp"
                  style="push"
                  tooltip="Accept Object Edit">
            </command>
            <command
                  commandId="cancelObjectEdit.command"
                  icon="icons/editCancel.bmp"
                  style="push"
                  tooltip="Cancel Object Edit">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="newScenario.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="CustomApp_SWT_STK_X_Eclipse_RCP.Keybinding"
            sequence="M1+N">
      </key>
      <key
            commandId="openScenario.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="CustomApp_SWT_STK_X_Eclipse_RCP.Keybinding"
            sequence="M1+O">
      </key>
      <key
            commandId="closeScenario.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="CustomApp_SWT_STK_X_Eclipse_RCP.Keybinding"
            sequence="M1+Q">
      </key>
      <scheme
            id="CustomApp_SWT_STK_X_Eclipse_RCP.Keybinding"
            name="AgiKeybinding">
      </scheme>
   </extension>

</plugin>
